
<section>
    <div class="container-fluid">
        
             <div class="row mt-4">
                 <div class="col-md4 ml-5">
                    <form action="/signup" method="post">
                            <h3 class="text-center">Create Flipcart Account</h3>
    
                      <label for="validationDefault01">Name</label>
                      <input type="text" class="form-control" id="validationDefault01" value="" name="Name" >


                      <label for="validationDefault02">Email</label>
                      <input type="email" class="form-control" id="validationDefault02" value="" name="Email">

                      <label for="validationDefault03">Password</label>
                      <input type="password" class="form-control" id="validationDefault03" value="" name="Password">


                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" >
                           <label class="form-check-label" for="invalidCheck2">
                                 Agree to terms and conditions
                           </label>
                      </div>
                      
                      <button class="btn btn-primary" type="submit">Submit</button>
                    </form>

                 </div>
             </div>         
       



    </div>
</section>

<!--

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 m-4">
                <form action="/signup" method="post">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="Email">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="Password">
                    <div class="row">
                    <button type="submit" class="btn btn-success">Submit</button>
                     </div>
                </form>

            </div>
        </div>
    </div>
</section>
-->
